@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
html,body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #EBEDEF !important;
}
/*title*/
.title-top{
	background-color: rgba(30,28,28,0.7);
	padding: 0.5rem 0;
}
.content-title-top{
	width: 80%;
	margin: 0 auto;
	color: #FFFFFF;	
	text-align: right;
}
.content-social{
	overflow: hidden;
}
.phone ,.mail{
	display: inline-block;
}
.fa{
	padding-right: 0.3rem;
}
.fa-envelope{
	margin-left: 1rem; 
}
/*end title*/
/*menu*/
.navbar{
	padding-bottom: 0 !important;
	width: 80%;
	margin: 0 auto;
}
.navbar-brand{
    padding-bottom: 0 !important;	
}
.navbar-brand img{
	padding-top: 0.8rem;
	width: 80%;
	height: auto;
}
.nav{
	padding-top: 1rem;
}
.nav-item{
	padding-right: 4rem;
}
.nav-link{
	font-family: 'Mitr', sans-serif;	
}
/*end menu*/
/*main*/
.body-main{
	width: 80%;
	margin: 0 auto;
	min-height: 800px;
	margin-top: 2rem ;
}
.main-left{
	min-height: 600px;
}
.main-right{
	overflow: hidden;
}
.fb-page{
	width: 100%;
	height: auto ;
}
/*end mmain*/
/*Footer*/
.footer{
	padding: 1rem 0;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background-color: #5B595A;
	margin-top: 1rem;
}
.footer ul{
	margin: 0;
	padding: 0;
}
.footer ul li{
	list-style: none;
	margin: 0.5rem 0;
}
.footer ul li a{
	color: #000000;
	text-decoration: none;
}
.footer ul li a:hover{
	color: #D3D1D1;
}
/*end footer*/
/*Post*/
.post{
	padding:1rem 0;
	width:100%;
	overflow: hidden;
}
.post img{
	width: 10rem !important;
	height: 10rem !important;
	float: left;
}
.title-post{
	display: inline-block;
	float: left;
	padding-left: 1rem;
}
.title-post h3 {
	padding-top:3rem;
}
.title-post h3 a{
	text-decoration: none;
	color: #000000;
}
.title-post h3 a:hover{
	color: #0A8F13;
}
.bottom-tite{
	display: inline-block;
	color: #B9B9B9;
}
#content img{
	width: 100%;
	height: auto;
}
#content h2{
	font-size: 20px;

}
/*end Post*/
@media only screen and (max-width:320px){

.navbar-brand img{
	padding-top: 1.2rem;
	width: 100%;
	height: auto;
}
.post img{
	width: 6rem !important;
	height: 6rem !important;
	float: left;
}
.title-post h3 {
	padding-top:0.2rem;
}
}
@media only screen and (max-width:480px){

.navbar-brand img{
	padding-top: 1.2rem !important;
	width: 80% !important;
	height: auto !important;
}
.post img{
	width: 7rem !important;
	height: 7rem !important;
	float: left !important;
}
.title-post h3 {
	padding-top:0.2rem !important;
}
}
@media only screen and (max-width:600px){

.navbar-brand img{
	padding-top: 1.2rem !important;
	width: 90% !important;
	height: auto;
}
.post img{
	width: 10rem !important;
	height: 10rem !important;
	float: left;
}
.title-post h3 {
	padding-top:0.2rem !important;
}
}
@media only screen and (max-width:800px){

.nav-item{
	padding-right: 2rem !important;
}
.navbar-brand img{
	padding-top: 1.2rem;
	width: 100%;
	height: auto;
}
.post img{
	width: 9rem !important;
	height: 9rem !important;
	float: left;
}
.title-post h3 {
	padding-top:0.2rem;
}
}
@media only screen and (max-width:1024px){

.nav-item{
	padding-right: 1.6rem !important;
}
.navbar-brand img{
	padding-top: 1.2rem;
	width: 80%;
	height: auto;
}
.post img{
	width: 10rem !important;
	height: 10rem !important;
	float: left;
}
.title-post h3 {
	padding-top:0.2rem;
}
}
@media only screen and (min-width:1025px){

.navbar-brand img{
	padding-top: 1.2rem;
	width: 100%;
	height: auto;
}
.post img{
	width: 10rem;
	height: 10rem;
	float: left;
}
.title-post h3 {
	padding-top:3rem;
}
}
